<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="joke"></h1>
    <button type="button" id="tweet-joke-btn">Tweet joke</button>
  </body>
</html>
