<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="joke"></h1>
    <button type="button" id="get-new-joke-btn">Get Random Joke</button>
    <button type="button" id="tweet-joke-btn">Tweet joke</button>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
